@charset "utf-8";
/* CSS Document */
body, html {
  height: 100%;
  width: 100%;
}
.navbar{
  background-color: burlywood;
	margin-bottom:0;
}
#map{
    width: 100%; 
    height: 100%;
    position: relative;
    z-index: 0;
}
.box{
    position:relative;
    z-index: 1;
}
label.reports{

}
