@charset "utf-8";
/* CSS Document */
body, html {
  height: 100%;
  width: 100%;
}
.navbar{
  background-color: burlywood;
	margin-bottom:0;
}
#map{
    width: 100%; 
    height: 100%;
    position: relative;
    z-index: 0;
}
.box{
    position:relative;
    z-index: 1;
}
p{
  display: inline;
}

#Pine{
  color: #002654;
}
#Canal{
  color: #8C2633;
}
#Mountain_Laurel{
  color: #F47A38;
}
#Nature{
  color: #FFB81C;
}
#Boy_Scout{
  color: #C8102E;
}
#Brisbane{
  color: #8F8F8C;
}
#Capital_to_Coast{
  color: #6FF63D;
}
#Upper_Squankum{
  color: #0038A8;
}
